button{
    width: 20%;
    height: 11%;
    padding: 10px;
    margin: 4px;
    border: 1px solid gray;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: x-large;
    /* background: white; */
    cursor: pointer;
    box-shadow: 0px 6px 0px #c1c1c1a4;
    /* box-shadow: 0px 5px 0px 0px  */
  }
  button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }